APP_ENV=development
LOG_LEVEL=INFO
TIMEZONE=UTC

DISCORD_BOT_TOKEN=MTQ4MjA5NzI0MDg3NjEyNjI4OQ.GQJVO5.i-nHgmtW8OLw_u2f46sY4dnqla4JjkQxc_mDXA
DISCORD_GUILD_ID=123456789012345678
DISCORD_ADMIN_ROLE_IDS=1487744861162573865
DISCORD_UPLOADER_ROLE_IDS=1487746052063756419
DISCORD_VIEWER_ROLE_IDS=444444444444444444
ALLOWED_CHANNEL_IDS=1479314479488696403

GOOGLE_SERVICE_ACCOUNT_FILE=./secrets/google-service-account.json
GOOGLE_DRIVE_ROOT_FOLDER_ID=1CbtdtSvx67b5q5XFgmYdreyLVnGKNEZz
GOOGLE_DRIVE_SHARED_DRIVE_ID=
GOOGLE_DRIVE_USE_SHARED_DRIVE=true

DATABASE_URL=sqlite:///./bot.db

MAX_UPLOAD_MB=25
ALLOWED_EXTENSIONS=pdf,docx,xlsx,pptx,txt,png,jpg,jpeg
DATE_FORMAT=%Y%m%d
FILE_NAME_TEMPLATE={project}_{category}_{date}_{title}_v{version}
